.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 888;
}

.modal {
  margin: auto;
  padding: 0;
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-top {
  margin: 0;
  background-color: #3d2ca0;
  padding: 1rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #fff;
}

.modal-content {
  padding: 1rem;
}

.modal-content button {
  float: right;
  margin-bottom: 1rem;
}
