.new-user input,
.new-user label {
  display: block;
  margin-bottom: 1rem;
  width: 100%;
}

.new-user input {
  border-radius: 0;
  border: 1px solid #ccc;
  padding: 8px;
}

button {
  padding: 10px;
  border-radius: 0;
  border: 0;
  background-color: #3d2ca0;
  color: #fff;
  font-weight: bold;
}
